<h1>Pattern#index</h1>
<form action='/pattern/index' method='get'>
  <label>Row instructions</label>
    <%= text_field_tag 'instructions' %>
  <button type='submit'>Get stitches!</button>
</form>

<% if @row.present? %>
  <p><%= @row.make %> (<%= @row.stitch_count %>)</p>
<% end %>
